
.contribute-container {
  background: #fff;
  max-width: 70rem;
  margin: 2.1rem auto 1rem auto;
  padding: 2.1rem 1rem;
  border-radius: var(--radius-lg);
  box-shadow: 0 0.25rem var(--radius-lg) rgba(0,0,0,0.10);
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.contribute-content h1 {
  color: #a435f0;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
} 